---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import ResumeDropdown from "../../elements/ResumeDropdown.astro";
import ContainerBottom from "../../elements/ContainerBottom.astro";

// content
const experience = [
     { 
        title: "Editor de vídeos",
        place: "Proyectos propios",
        period: "2023 - actualidad",
        text: "Edición de vídeos de corta duración para proyectos personales y externos, con uso de efectos visuales tanto en DaVinci Resolve como After Effects"
    },
    { 
        title: "Cofundador y Coordinador",
        place: "Quantum Society",
        period: "2020 - 2023",
        text: "Coordinador de edición de Vídeos y editor principal del canal. Encargado de la planificación y edición de videos de corta y larga duración orientados a la divulgación cientifica."
    },
    { 
        title: "Diseño 2D-3D",
        place: "Universidad de Córdoba - Formula Student",
        period: "2021 - 2022",
        text: "Participación en el equipo universitario, a cargo del diseño de camisetas para la participación del equipo en la Spain Classic Raid. Además de estar a cargo del diseño, prototipo, planos de corte y cableado interno del volante. También participé en el desarrollo en equipo de otros elementos del monoplaza."
    },
]
---

<Container variant={'md'}>
    <Heading tagName="h2" tagSize="h2" class="text-center">Experiencia</Heading>
    <div class="flex flex-col gap-4">  
        <Container class="flex flex-col gap-4 p-6 border-3 border-base-900">
            {
                experience.map((i) => (
                    <ResumeDropdown title={i.title} place={i.place} period={i.period} text={i.text} />
                ))
            }
        </Container>
        <ContainerBottom />
    </div>

</Container>
