---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import Text from "../../elements/Text.astro";
import ImageContainer from "../../elements/ImageContainer.astro";

// assets
import jesus1 from "../../../assets/images/jesus1.jpg";
---

<Container variant={'xl'}>
    <Heading tagName="h1" tagSize="h1" class="text-center">Conoce a Jesús</Heading>
    <div class="flex md:flex-row flex-col gap-16 md:items-center">
        <div class="flex-1 flex flex-col gap-7">
            <Text variant={'xl'} class="text-base-900">Soy una persona apasionada por el desarrollo de contenidos audiovisuales, siempre con intriga y buscando el porqué de las cosas y cómo realiarlas.</Text>
            <Text variant={'sm'} class="text-base-900">En los últimos 7 años ha ido creciendo en mí el interés en el mundo de la edición de vídeos, teniendo proyectos personales y profesionales. Siempre que algo me llama la atención busco las formas y los medios de conseguir hacerlo. En el último año he estado más dedicado al sector del marketing orgánico en redes sociales, realizando algunos trabajos con marcas propias y para empresas externas.</Text>
        </div>
        <div class="flex-1 md:h-[650px] w-full">
            <ImageContainer src={jesus1} alt="Jesus"/>
        </div>
    </div>
</Container>