---
// components
import Container from "../../elements/Container.astro"
import ContactItem from "./ContactItem.astro"
---
<Container variant={'md'}>
    <div class="flex lg:flex-row flex-col gap-8 text-base-900">
        <ContactItem title="Correo" contact="jfuentes21@proton.me" />
        <ContactItem title="Teléfono" contact="(+34) 648 511 ___" />
    </div>
</Container>