---
// components
import Heading from "../../elements/Heading.astro";
import Container from "../../elements/Container.astro";
import Text from "../../elements/Text.astro";
---

<Container variant={'xl'} class="text-center text-base-900 flex flex-col items-center">
    <Heading tagName="h1" tagSize="h1">Contacto</Heading>
    <div class="max-w-3xl flex flex-col gap-4">
        <Text variant={'xl'}>Juntos podemos crear algo especial</Text>
        <Text variant={'sm'}>¿Listo para dar un salto de nivel a tus proyectos? Contáctame y veremos cómo hacer crecer tu proyecto.</Text>
        <Text variant={'sm'}>Actualmente disponible para 2026. Tiempo de respuesta: 24-48 horas.</Text>
    </div>
</Container>