---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import Dropdown from "../../elements/Dropdown.astro";
import ContainerBottom from "../../elements/ContainerBottom.astro";

// content
const services = [
    { 
        title: "Edición de vídeo",
        text: "Experiencia con Adobe Premiere, After effects y DaVinci Resolve."
    },
    { 
        title: "Edición de fotos",
        text: "Experiencia con Adobe Photoshop, inkscape y affinity."
    },
    { 
        title: "Diseño 3D",
        text: "Experiencia con SolidWorks, Blender y Fusion360."
    },
    { 
        title: "Programación",
        text: "Experiencia con MATLAB, Excel y python."
    },
]
---

<Container variant={'md'}>
    <Heading tagName="h2" tagSize="h2" class="text-center">Habilidades</Heading>
    <div class="flex flex-col gap-4">
        <Container class="flex flex-col gap-4 p-6 border-3 border-base-900">
            {
                services.map((service, index) => (
                    <Dropdown title=`${index + 1}. ${service.title}` text={service.text} />  
                ))
            }       
        </Container>
        <ContainerBottom />    
    </div>

</Container>